/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  
}
ol, ul {
  list-style: none;
  padding-bottom: 20px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Globalne style tekstu */

body{
     font-family: 'Rubik', sans-serif;
  
    line-height: 1.7;
}

p{
    margin-top: 6px;
}

h1,h2,h3,h4, label{
    color:white;
}

h1{
    font-size:54px;
    line-height: 1.2;
}

h2{
    font-size:25px;
    text-transform: uppercase;
}

h4,strong
{
    font-weight: 500;
}

h3{
  color: #2d4338;
  font-size: 19px;
}

h5{
  font-size:15px;
  text-transform: uppercase;
  color:grey;
  padding-bottom: 15px;
  
  
}


/*KOLUMNY. KONTENERY, SEKCJE*/


body
{
  background-image: url(img/3.jpg);
	background-size: cover;
  
}

section{
    clear:both; /*Element jest przesuwany poniżej elementów pływających po obu stronach. */
}

#login
{
  overflow: hidden;
    padding: 180px 0; /*margines górny, prawy*/
 
}


/*SEKCJA STRONY GŁÓWNEJ*/
.home 
{
  
   padding: 6% 8% 0% 10% ; /*margines górny, prawy, dolny, lewy*/
   height: 100%; /* Wysokość */
  
}
@media screen and (max-width: 1200px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
  .home {
    padding: 5% 20% 0% 15% ; /*margines górny, prawy, dolny, lewy*/
      } 
  }
  @media screen and (max-width: 576px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
    .home {
      padding: 5% 15% 0% 15% ; /*margines górny, prawy, dolny, lewy*/
        } 
    }



/*GÓRNY PASEK NAWIGACYJNY*/

.navbar
{
  position:fixed;
  width:100%;
}
@media screen and (max-width: 1200px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
  .navbar {
      display: none; /* Element nie jest widoczny */
      } 
  }

 /* BOCZNY PASEK NAWIGACYJNY*/
.sidenav {
    height: 100%; 
    width: 70px; /* 70px szerokości - zmieniana za pomocą JavaScript */
    z-index: 1; /* Kolejność wyświetlania elemntów gdy te na siebie nachodzą */
    position: fixed; /* Możliwośc samodzielnego wypozycjonowania elementu */
    top: 58px; 
    left: 0;
    overflow-x: hidden; /* Wyłączone scrollowanie horyzontalne */
    padding-top: 20px; 
    transition: 0.5s; /* Efekt przejścia - 0,5 s*/
  }
  @media screen and (max-width: 1200px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
    .sidenav {
       top:0;
        transition: none; /* Efekt przejścia - 0,5 s*/
        } 
    }
  
  /* Odnośniki w pasku nawigacyjnym */
  .sidenav a {
    padding: 0px 0px 30px 18px; /*margines górny, prawy, dolny, lewy*/
    display: inline-flex; /* bloki wyświetlane w lini*/
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* Tekst w pasku nawigacyjnym */
  .sidenav span{
    margin-left: 20px; 
    overflow: hidden; /* Wyłączony pasek scrollowania */
    font-size: 16px; 
    color: white; 
  }


  /* Zmiana grubości czcionki po najechaniu myszką*/
  .sidenav span:hover {
    font-weight:bold; 
  }

 
  /* ID Kalendarza */
  #calendar_div {
    width: 100%; /* szerokość kalendarza */
  }
  @media screen and (max-width: 1200px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
    #calendar_div { width:120%;
        } 
    }

/* -- KOLUMNA - KALENDARZ --  */
.kalendarz {
  background-color: white; 
  border-radius: 0.8%; /* zaokrąglone  krawędzie elementu */
  width: 100%; 
  height:58%;
  padding: 7 20 5 20; /*margines górny, prawy, dolny, lewy*/
}
@media screen and (max-width: 1200px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
  .kalendarz {
    
      height: auto; /* Wysokość kolumny dopasowuje się automatycznie */
      } 
  }


/* Przyciski zmiany miesiąca */
.poprzedni-miesiac{
  position: relative;
  float: left; 
  text-align: left; 
  cursor: pointer;
  background-color: gray;
}
.poprzedni-miesiac:after { /* Utworzenie pseudoklasy nadanie jej właściowci */
    content: "";   /* dynamiczne dodanie zawartosci */
    width: 25px; 
    height:25px; 
    border-top: 6.5px solid  #727171;  /* nadanie obramowania górnej krawędzi */
    border-right:6.5px solid #727171;  /* nadanie obramowania prawej krawędzi */
    transform: rotate(224deg); /* Obrót elemntu o 224 stopnie */
    position: absolute; 
    left: 40px;
    top: 25px;
}
.nastepny-miesiac{
  position: relative;
  float: right;
  text-align: right;
  cursor: pointer;
  }


.nastepny-miesiac:after {
    content: "";
    display: inline;
    position: absolute;
    width: 25px;
    height: 25px;
    
    right: 40px;
    top: -53px;

     border-top: 6.5px solid  #727171;
    border-right:6.5px solid #727171;

    transform: rotate(44deg);
}

  /* Wyświetlanie miesiąca i roku kalendarza */
.data_menu__
{
  padding: 10; /* górny odstęp */
  text-transform: uppercase; /* wyświetlanie tekstu wielkimi literami */
  font-size: 33px; 
  font-weight: bolder; 
  color:#dc3545; 
  text-align: center; /* wyśrodkowanie tekstu */
}

/*dni tygodnia - wyświetlanie elemntów obok siebie */
.dni_tytul {
  display: flex; 
}

/* Wyświetlanie nazw dni tygodnia */
.dzien {
  width: 100%;
  padding: 0 0 5 0;
  font-weight: bold;
  font-size:29px;
  text-transform: uppercase;
  color:#5c5c5c;
}
@media screen and (max-width: 1200px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
  .dzien {
      font-size: 22px;
      } 
  }


  /* dni miesiaca -  wyświetlanie elemntów obok siebie */
.kalendarz_tydzien {
  display: flex;
}
  /* Wyswietlanie dni miesiaca */
  .kalendarz_dzien {
    width: 100%;
    height: 35px;
    padding: 0 0 45 0;
  }

  .dni_tygodnia {
    width: 100%;  
    text-align: center;
    font-size: 24px;
    padding: 10 30 0 30; 
    color: #696969;
  }
  @media screen and (max-width: 1200px) { /* breakpoint - odpowiedzialnty za wyświetlanie elemntów na wyznaczonej rozdzielczości */
    .dni_tygodnia {
        font-size: 20px;
        padding: 0 30 0 30; 
        } 
    }


/* Dni z utworzonym jadłospisem */
.kalendarz_dzien.wybrane .kalendarz_data, .kalendarz_dzien.wybrane .kalendarz_dania{
  color: white ;
  background-color: #ffa600;
  border-radius: 0%;
  padding: 5 5 5 5;
}



.kalendarz_tydzien .nieaktywny .kalendarz_data,
.kalendarz_tydzien .nieaktywny .task-count {
  color: #c6c6c6;
}

/* Aktualny dzień */
.kalendarz_tydzien .dzis .kalendarz_data {
  color: white;
  background-color: #dc3545;
  border-radius:50%;
  padding: 6 9 6 9;
  
}

/* PRZYCISK */ 
.open-button{
  border:none;  
  padding:10px;
	padding-left: 3rem;
	padding-right: 3rem;
  background-color: #a7a7a7;
  color:white;
  border-radius:28px;
  margin-top: 6px;
  text-transform: uppercase;
  font-size: 18px!important;
  font-weight: lighter !important;
}
 /* Zmiana koloru po najechaniu */
.open-button:hover{
  background-color: #dc3545;
}
 
/* KOLUMNA - TWORZENIE JADŁOSPISU */
.Jadlospis
{ 
  background-color: white;
  height: 92%;
}
@media screen and (max-width: 1200px) { /* DO POPRAWY */
  .Jadlospis {
    
      width:120%;
      height: auto;
      margin-bottom: 5%; /* Dolny margines */
      } 
  }

  .menu__prawe {
    width: 100%;
    padding: 20 50 40 50;
    color: #040605;
    
  }

  /* WYŚWIETLANIE WYBRANEJ DATY */
  .data_menu___
{
  padding: 0 0 10 0;  
  color:gray; 
  text-transform: uppercase; /* wyświetlanie tekstu wielkimi literami */
  font-size: 16px;
  text-align: center; /* wyśrodkowanie tekstu */
}

/* WYŚWIETLANIE TYPU DAŃ */
.sidebar__list-item--complete {
  color:#dc3545!important;
 font-weight: bold;
}


/* WYŚWIETLANIE LISTY DAŃ */
.sidebar__list-item {
  
  color: #2d4338;
  font-size: 19px;
  padding: 0 0 0 0;
 
}

/* -- KOLUMNA - DANIA -- */
.Dania {
 
  height: 30%;  
  width: 100%; 
  margin-top: 28px; 
  background-color: white; 
  
}
@media screen and (max-width: 1200px) { /*  */
  .Dania {
      width:120%; 
      height: auto;  /* Wysokość kolumny dopasowuje się automatycznie */
      margin-bottom: 28px;
      } 
  }


.menu__lewe {
  width: 100%;
  padding: 30 0 30 0;
}






